@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  div,
  p {
    color: theme("colors.black.DEFAULT");
  }

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  a::after {
    position: absolute;
    bottom: -2px;
    left: 2px;
    content: "";
    width: 100%;
    height: 1px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
  }

  a:hover::after {
    transform-origin: left top;
    transform: scale(0.98, 1);
  }

  .text-stroke-blue {
    -webkit-text-stroke: 2px theme("colors.blue.DEFAULT");
  }

  .text-stroke-dark-gray {
    -webkit-text-stroke: 1px theme("colors.gray.dark");
  }

  .text-stroke-none {
    -webkit-text-stroke: 0;
  }
}
